#! /bin/sh
# Apply the YDB dynamic configuration.

set +e
set +u

DB_ENDPOINT=grpcs://"$1":2135
DB_DOMAIN=/{{ ydb_domain }}
CAFILE={{ ydb_dir }}/certs/ca.crt
PASSFILE={{ ydb_dir }}/certs/secret
CONFFILE="$2"

LD_LIBRARY_PATH={{ ydb_dir }}/lib
export LD_LIBRARY_PATH

PATH={{ ydb_dir }}/bin:$PATH
export PATH

if [ ! -f "${CONFFILE}" ]; then
  echo "ERROR: missing input configuration file: ${CONFFILE}" >&2
  exit 1
fi

set -e
set -u

if [ -f ${PASSFILE} ]; then
  . ${PASSFILE}
  ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} \
    admin config replace -f ${CONFFILE}
else
  ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} \
    --user root --no-password admin config replace -f ${CONFFILE}
fi

# End Of File