#jinja2: trim_blocks:False
[Unit]
Description=YDB Loglugger Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ loglugger_bin_dir }}/loglugger-client -config {{ loglugger_client_config_path }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
