[Unit]
Description=YDB Loglugger Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/etc/default/{{ loglugger_client_service_name }}
ExecStart={{ loglugger_bin_dir }}/loglugger-client \
  -server ${LOGLUGGER_SERVER} \
  -service-mask ${LOGLUGGER_SERVICE_MASK} \
  -tls-ca-file ${LOGLUGGER_TLS_CA_FILE} \
  -tls-cert-file ${LOGLUGGER_TLS_CERT_FILE} \
  -tls-key-file ${LOGLUGGER_TLS_KEY_FILE}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
