LOGLUGGER_SERVER={{ loglugger_client_servers_effective | join(',') }}
LOGLUGGER_TLS_CA_FILE={{ loglugger_certs_dir }}/ca.crt
LOGLUGGER_TLS_CERT_FILE={{ loglugger_certs_dir }}/client.crt
LOGLUGGER_TLS_KEY_FILE={{ loglugger_certs_dir }}/client.key
LOGLUGGER_SERVICE_MASK={{ loglugger_client_service_mask }}
