[Unit]
Description=Loglugger client for YDBD journald logs
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/etc/default/ydb-loglugger-client
ExecStart=/opt/ydb/loglugger/bin/loglugger-client \
  -config ${LOGLUGGER_CLIENT_CONFIG}
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
